extends layouts/main.pug

block content
  form(action="/create" method="POST")
    label(for="mainUrl") Your URL
    input(type="text", name="mainUrl")
    label(for="shortUrl") Shortened URL (Optional)
    input(type="text", name="shortUrl")
    button(type="submit") Submit